/* ==================== Import colors SCSS =================== */
@import './_color.scss';

/* ======================= Reset Light ====================== */
html {
  font-size: 14px;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Arial", Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0 auto;
}

.container {  max-width: 980px;  }

a {
  color: black;
  text-decoration: none;
  :hover {
    color: lightgrey;
  }
}

/* ======================= Navbar black ====================== */
.navbar {
  height: 38px;
  background-color: black;
  border: transparent;
  color: white;
  a {
    text-decoration: none;
  }
}
.navbar-nav li a {
  height: 38px;
}

.menu {
  -js-display: flex;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.dropdown, ul {
  list-style: none;
}

.language {
  font-size: 12px;
  color: white;
  font-family: "Arial", Arial, Helvetica, sans-serif;
  font-weight: 700;
  a {
    text-decoration: none;
    color: white;
  }
}

.iconeMenu {
  color: white;
}

.open .dropdown-menu {
  width: 90px;
  border: 1px solid black;
  border-radius: 0;
  box-shadow: none;
  padding: 0 1px;
  width: 90px;
  left: 18px;
  float: left;

  ul {
    border-top: none;
  }

  li {
    height: 25px;
    font-size: 0.84em;
    padding: 0 0 0 0;
    border-top: 1px solid black;
    &:hover {
      color: black;
    }
    a {
      padding: 5px 20px 1px 10px;
      font-family: "Arial", Arial, Helvetica, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  li:first-child {
  }
}

.language > li > ul {
  width: 90px;
}

.detailEnchere {
  width: 235px;
  background: rgb(70, 70, 70);
  background: -moz-linear-gradient(top, rgba(70, 70, 70, 1) 0%, rgba(46, 46, 46, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(70, 70, 70, 1) 0%, rgba(46, 46, 46, 1) 100%);
  background: linear-gradient(to bottom, rgba(70, 70, 70, 1) 0%, rgba(46, 46, 46, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#464646', endColorstr='#2e2e2e', GradientType=0);
  border: none;
  button {
    background-color: transparent;
    border: none;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: "Arial", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.715em;
    text-align: center;
  }
}

.mailClient > a {
  color: white;
  display: inline-block;
  font-size: 0.7em;
  font-family: "Arial", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

/*!* ======================= La MEA ====================== *!*/
.chrono {
  width: 100%;
  text-align: center;

  color: $bordeaux;
  border-top: 1px solid $bordeaux;
  margin-top: 170px;
  font-family: "Arial", Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding-top: 15px;
  span {
    font-weight: 700;
  }
}

.mea {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  padding-top: 35px;
  padding-bottom: 32px;
  border-top: 1px solid $bordeaux;
  border-bottom: 1px solid $bordeaux;
  background-color: $greycard;
  .title {
    font-family: "Georgia", Times, Arial, sans-serif;
    font-size: 1.71em;
    text-align: center;
    line-height: 2.21em;
  }
  .subtitle {
    font-family: "Georgia", Times, Arial, sans-serif;
    font-size: 1.143em;
    line-height: 2.21em;
  }
}

/*!* ==================== Les enchères =================== *!*/
.encheres {
  margin-bottom: 50px;
}

.enchereTitle {
  font-family: "Arial", Arial, Helvetica, sans-serif;
  font-size: 2.1429em;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  text-align: center;
  width: 100%;
  margin: 45px auto 75px auto;
  span {
    font-weight: 500;
  }
  &:after {
    content: '';
    width: 60px;
    height: 6px;
    background-color: black;
    position: absolute;
    margin-bottom: 30px;
    left: 50%;
    margin-left: -30px;
    top: 65px;
    margin-top: -20px;
    text-align: center;

  }
}

.push1, .push2 {
  margin: 0 auto;
  width: 100%;
}

.push1 {
  z-index: 1000;
}

.push2 {
  z-index: 999;
  //margin-left: 50px;
}

/*!* ========== CARDS Articles & portraits ========= *!*/
.article {
  background-color: $greycard;
  padding-bottom: 15px;
  position: relative;
  margin-top: 5px;
  &:after {
    content: '';
    background: white;
    position: absolute;
    width: 100%;
    height: 2px;
    z-index: 1000;
    bottom: 82px;
  }
}

.hoverIcon {
  transition: all 0.3s ease-in-out;
  &:hover {

    background: rgba(255, 255, 255, 0.8);
    brightness: 50%;

  }
}

.articleLabel {
  margin-top: 20px;
}

.articlePortrait > img {
  padding-left: 15px;
  padding-top: 15px;
  width: 50%;
  float: left;
}

.articleProduit > img {
  padding-right: 15px;
  padding-top: 15px;
  width: 50%;
}

.articleNom {
  font-size: 1.43em;
  font-family: "Georgia", Times, Arial, sans-serif;
  line-height: 1.21em;
  text-align: center;
  color: black;
}

.articleProfession {
  font-family: "Arial", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.72em;
  line-height: 1.21em;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.articleIntitule {
  font-size: 1.07em;
  font-family: "Georgia", Times, Arial, sans-serif;
  text-align: center;
  color: $or;
  line-height: 28px;
}

.darkness {
  &:hover {
    filter: brightness(60%);
  }
}

/*!* ======= Boutton voir ls enchères foo========== *!*/
.ButtonDownEncheres {
  width: 210px;
  background: rgb(70, 70, 70);
  background: -moz-linear-gradient(top, rgba(70, 70, 70, 1) 0%, rgba(46, 46, 46, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(70, 70, 70, 1) 0%, rgba(46, 46, 46, 1) 100%);
  background: linear-gradient(to bottom, rgba(70, 70, 70, 1) 0%, rgba(46, 46, 46, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#464646', endColorstr='#2e2e2e', GradientType=0);
  border: none;
  font-size: 0.715em;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-bottom: 12px;
  margin-top: 30px;
  button {
    background-color: transparent;
    border: none;
    white-space: nowrap;
    text-transform: uppercase;
    padding-top: 5px;
    font-family: "Arial", Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
}

/*!* =================== Footer ================== *!*/
.theFooter {
  background-color: $footer;
  height: 268px;
  width: 100%;
  margin: 0 auto;
}

.donsTitle {
  font-size: 0.93em;
  font-family: "Georgia", Times, Arial, sans-serif;
  text-align: center;
  color: $greylight;
  position: relative;
  text-transform: uppercase;
  padding-top: 40px;
  &:after {
    content: '';
    text-align: center;
    width: 408px;
    height: 1px;
    background-color: #a0a0a0;
    position: absolute;
    left: 50%;
    margin-left: -204px;
    top: 55px;
    margin-top: 12px;
    text-align: center;
  }
}

.moneyTime {
  font-size: 1.86em;
  font-family: "Georgia", Times, Arial, sans-serif;
  text-align: center;
  color: $greydark;
  margin-top: 20px;
  span {
    color: $greylight;
  }
}

.points > img {
  width: 100%;
  margin: 45px auto 0 auto;
}

.logo {
  margin-top: 15px;
  //display: inline-block;
  float: left;
}

.legal > a {
  float: right;
  color: white;
  font-size: 0.86em;
  margin-top: 35px;

  &:hover {
    color: $greylight;
  }

}

/*****************************************************************
                           TYPOGRAPHY
*****************************************************************/
@font-face {
  /*font-family: 'Font-Name';*/
  /*src: url('fonts/font-name.eot');*/
  /*src: url('fonts/font-name.eot?#iefix') format('embedded-opentype'),*/
  /*url('fonts/font-name.woff') format('woff'),*/
  /*url('fonts/font-name.ttf') format('truetype'),*/
  /*url('fonts/font-name.svg#font-name') format('svg');*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
}

/*****************************************************************
                          IPAD IPHONE
*****************************************************************/
/***** IPAD *****/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .sidebar {
    display: none;
  }

}

/***** IPAD PORTRAIT *****/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .container {
    max-width: 1000px;
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
    position: relative;
  }
}

/***** IPHONE *****/
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
  #mega-menu {
    width: 87%;
  }
}

/***** IPHONE 6 *****/
@media only screen and (min-device-width: 568px) and (max-device-width: 667px) {
  .tailored-item:hover:before {
    height: 100%;
  }
}

/******************************************************************
MEDIA PRINT MODEL
******************************************************************/
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}